*{
	margin:0;
	padding:0;
}
#first{
	
}
body{
	background:#00BFFF;
	background-size:cover;
}
.container{
	max-width:1170px;
	margin:0 auto;
	padding:70px 0;
	overflow:hidden;
}
.full-width{
	margin:20px;
}
.menu{
	float:left;
	width:70%;
	margin-top:50px;
}
.menu ul{

}
.menu ul li{
	list-style:none;
	float:left;
	padding-left:80px;
	transition:1s
}
.menu ul li a{
	font-size:20px;
	padding:10px 15px;
	text-decoration:none;
	color:#000000;
	background:#FAB072;
	transition:1s
}
.menu ul li a:hover{
	background:#90FB90;
	color:#DF0101;
}
.menu ul li:hover{
	transform:rotate(5deg);
}
#second-section{

}
.content{
	text-align:center;
}
.content h2{
	font-size:70px;
}
.content p{
	font-size:25px;
}